{% extends 'cards/base.html' %}
{% load static %}
{% block content %}

        <div class="container">
            <section class="secao">
                {% if imagem is None %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png?20210521171500" alt="">
                {% else %}
                    <img src="{{ imagem }}">
                {% endif %}
                <h1>
                    {{ titulo.0 }}
                </h1>
                <p>
                    {{ conteudo.0 }}
                </p>
            </section>
            <div class="card">
                {% for linha in conteudo %}
                <p>
                    {% if linha != conteudo.0 %}
                        {{ linha }}
                    {% endif %}
                </p>
                {% endfor %}
                <p>
                    Referência: <a href="{{ url }}">{{ url }}</a>
                </p>
            </div>
        </div>
        
{% endblock %}