<html>
    <head>
        <style>
        .container{
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;
            width: 90vw;
            height: 100vh;
        }
        .card{
            width: 50vw;
            text-align: justify;
        }
        .cards img{
            width: 100%;
            height: 50vh;
        }
        .secao{
            width: 20vw;
        }
    </style>

    </head>
    <body>
        <div class="container">
            <section class="secao">
                <img src="{{ imagem }}">
                <h1>
                    {{ titulo.0 }}
                </h1>
                <p>
                    {{ conteudo.0 }}
                </p>
            </section>
            <div class="card">
                {% for linha in conteudo %}
                <p>
                    {% if linha != conteudo.0 %}
                        {{ linha }}
                    {% endif %}
                </p>
                {% endfor %}
                <p>
                    Referência: <a href="{{ url }}">{{ url }}</a>
                </p>
            </div>
        </div>
    </body>    
</html>